html {
    background: linear-gradient(to bottom right, #53A3CD, white, #1CA347);
}

body {
    height: 100vh;
    overflow-y: hidden;
}

#mainContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#modalLogin {
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 4px;
    width: 35%;
    text-align: center;
    justify-content: space-around;
    align-self: center;
    height: 40%;
    display: flex;
    flex-direction: column;
}

#modalLoginTitle {
    display: flex;
    justify-content: space-around;
}

#modalLoginSelectorTabs {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0px;
}

#modalLoginSelectorTabs > li {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
    text-align: center;
}

#modalLoginSelectorTabs > li > a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 20px;
    color: #999;
    line-height: 14px;
    padding: 15px;
    display: block;
    transition: all 0.5s;
}

#modalLoginSelectorTabs > #selectorLogin.selectorActive > a {
    font-size: 35px;
    color: #53A3CD;
}

#modalLoginSelectorTabs > #selectorRegister.selectorActive > a {
    font-size: 35px;
    color: #1CA347;
}

#modalLoginSelector > hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
}

#modalLoginTitleText {
    font-size: 48px;
    align-self: center;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#modalParentForm {
    display: flex;
    flex-grow: 3;
    width: 100%;
    margin-top: 10px;
}

#modalParentForm input {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 70%;
    border-radius: 4px;
    height: 30px;
    border: 0px;
    font-size: 20px;
    text-align: center;
    border: 1px solid lightgrey;
}

#modalLoginButton {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 35%;
    height: 50px;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    background-color: #53A3CD;
    color: white;
}

#modalLoginButton:hover {
    background-color: #488caf;
}

#modalLoginButton:focus {
    outline: none;
}

#modalLoginButton:active {
    background-color: #3b7491;
}

#modalRegisterButton {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 35%;
    height: 50px;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    background-color: #1CA347;
    color: white;
}

#modalRegisterButton:hover {
    background-color: #18913f;
}

#modalRegisterButton:focus {
    outline: none;
}

#modalRegisterButton:active {
    background-color: #10662b;
}

#modalLoginForm {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
}

#modalLoginForm input:focus {
    outline: none;
    box-shadow: 0px 0px 6px #53A3CD;
}

#modalLoginFormContent {
    flex-grow: 3;
}

#modalLoginFormFooter {
    margin-bottom: 10px;
    flex-grow: 1;
}

#modalRegisterForm {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
}

#modalRegisterForm input:focus {
    outline: none;
    box-shadow: 0px 0px 6px #1CA347;
}

.modalLoginItem {
    flex-grow: 1;
}